<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IProxyCacheService" maxBufferPoolSize="64000000"
     maxReceivedMessageSize="64000000" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8734/Server/ProxyCacheService"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyCacheService"
    contract="ProxyCache.IProxyCacheService" name="BasicHttpBinding_IProxyCacheService" />
  </client>
	</system.serviceModel>
</configuration>